#projects{
    height: auto;
    color: #f2f8fc;
}

.img-thumbnail{
    height: auto;
    border: 1px solid #ffffff41;
    background-color: #ffffff0e;

}

.img-thumbnail:hover {
    border: 1px solid #e73c7e;
    transform: scale(105%);
}


.projectImg {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    opacity: 0.8;
}

h6 {
    font-size: 13px;
  }


  .project-icon {
    color: #e73c7e;
  }