#about {
    height:auto;
    color: #f2f8fc;
    font-size: 18px;
}

.pod-about{
    border: 1px solid #1611102c;
    border-radius: 25px;
    height: 700px;
    width: 800px;
    background-color: #ffffff0e;
}

.inlineText {
    font-size: 20px;
}