#home {
    height: auto;
    padding-top: 100px;
    color: #f2f8fc;
    padding: 140px 60px 60px 60px;
}

.intro {
    border: 3px solid #ffffff41;
    border-radius: 14px;
    height: auto;
    background-color: #ffffff0e;
    z-index: 1 !important;
}


span {
    color: #e73c7e;
    font-size:47px;
}

p{
    font-weight:500;
}


