#home {
    height: calc(75vh - 150px);
    margin-top: 180px;
    color: #f2f8fc;
}

#home, span, h1 {
    font-size: 60px;
}

span {
    color: #e73c7e;
}

p{
    font-weight:500;
}

.box {
    border: 3px solid 
}

