.navbar {
    height: 90px;
    background-color: #ffffff0f;
}
   
img {
    height: 80px;
}

ul {
    list-style-type: none;
}

.nav-link {
    font-size: 24px;
    text-decoration: none;
    color: #f2f8fc;
    font-weight: 600;
}

.nav-link:focus, .nav-link:hover {
  color: #e73c7e !important;
}

.hamburger {
  color: #f2f8fc !important;
  background-color: #f2f8fc00 !important;
}



.nav-links{
    display: none;
}
.menuIcon {
    display: none;
  
  }

  @media screen and (max-width: 769px) {
    .navbar {
      display: none !important;
    }

    .navbarMob {
      height: 90px;
      background-color: #f2f8fc10 !important;
    }

    .offcanvas {
      background: #292929 !important;
      height: 316px;
      border-bottom-left-radius:25px;

    }

    .icon-close, Button {
      color: #f2f8fc !important;
      background-color: #f2f8fc00 !important;
    }

  }

  @media (min-width: 769px) {
    .navbarMob {
      display:none !important;
    }
  }


  .top-curve {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.top-curve svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
    
}

.top-curve .shape-fill {
    fill: #ffffff0f;
    
}