.footer {
    background-color: #ffffff0e;
    color: #f2f8fc;
}

.mailToLink {
    color: #f2f8fc !important;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #e73c7e;
    padding-bottom: 5px !important;
}

.pod-footerContact {
    background-color: #ffffff0e;
    height: 100px;
    background-color: #ffffff0e;
    color: #F5E9E2;
}

.copyright{
    font-size: 12px;
    color: #f5e9e22f;
}

.footer-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.footer-curve svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.footer-curve .shape-fill {
    fill: #F5E9E2;
}

.icon {
    font-size:25px;
    color:#e73c7e;
}
